<div id="the-adventure-logsheet">
  <div class="row">
    <h3>The Adventure Logsheet</h3>
    <a name='the-adventure-logsheet'></a>
  </div>

  <div class="row">
    <p>In addition to your character sheet, you should have an adventure logsheet.</p>
  </div>

  <div class="row">
    <p>This sheet serves as a record of each session of play. Treat your logsheet as an extension of your character sheet; it is your official record of your character!</p>
  </div>

  <div class="row">
    <p>Fill in the top of the logsheet prior to playing your first adventure. At the end of each session of play, fill in all information provided, even if your character didn’t earn some of it (simply put a “0” on those lines). Most of the information on the sheet is self-explanatory, but a few items bear additional explanation.</p>
  </div>

  <div class="row">
    <ul>
      <li><strong>XP.</strong> You begin play with 0 experience points (XP).</li>
      <li><strong>Gold.</strong> You begin play with whatever gold pieces (gp) you had after you purchased your initial gear. You can express silver pieces (sp) and copper pieces (cp) by using decimals.</li>
      <li><strong>Downtime.</strong> At the end of each adventure, your character will earn days of downtime, which you can spend on different downtime activities. Your Dungeon Master will tell you how much downtime each adventure earns. You begin with 0 downtime days.</li>
      <li><strong>Renown.</strong>  You begin play with 0 renown points in your faction. If you do not have a faction, you do not track renown (just fill all the lines with “0”).</li>
      <li><strong>Magic Items.</strong> Record the number of permanent magic items your character possess here; record the name of the item in the adventure notes area. You begin with 0 permanent magic items.</li>
      <li><strong>Adventure Notes/Downtime Activity.</strong> to record notes from the adventure. At a minimum, you should write down any magic items gained (permanent or consumable). If you’re spending downtime, note what activity you’re engaged in.</li>
    </ul>
  </div>
</div>