<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Show Log Entry</h2>
  </div>
</div>

<%= render partial: 'character_log_entries/season9_show' if @log_entry.log_format_season9? %>
<%= render partial: 'character_log_entries/season8_show' if @log_entry.log_format_season8? %>
<%= render partial: 'character_log_entries/old_show' if @log_entry.log_format_old? %>

<%= render partial: 'magic_items/list' unless @magic_items.empty? %>
