<li class="<%=(current_page.last? ? "disabled" : "")%>">
  <% unless current_page.last? %>
    <%= link_to ">", url, { :rel => 'next', :remote => remote } %>
  <% else %>
    <%= link_to ">", "", { :remote => remote } %>
  <% end %>
</li>
