<div class="row">
  <div class="col-md-12">
    <h3 style="margin-top: 0px"><%= magic_item.name %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= magic_item.rarity.titleize %>
  </div>
</div>

<% if magic_item.notes.present? %>
  <div class="row">
    <div class="col-md-12">
      <%= magic_item.notes %>
    </div>
  </div>
<% end %>
