<div id="magic_items-index">
  <div class="row">
   <h1 class='col-md-8'>Magic Items</h1>
  </div>

 <%= render partial: 'magic_items/index_list', locals: { magic_items: @purchased_magic_items, search: @purchased_search } %>
</div>
