<div class="table-responsive">
  <table class="table table-bordered table-responsive table-striped">
    <tr>
      <th>Name</th>
      <th>Num of Players </th>
      <th></th>
    </tr>

    <tbody id='menu_items'>
      <% campaigns.each do |campaign| %>
        <tr>
          <td><%= link_to campaign.name, user_campaign_path(current_user, campaign) %></td>
          <td><%= campaign.characters.count %></td>
          <td>
            <%= link_to "<span class='sr-only'>Show<span>".html_safe, user_campaign_path(current_user, campaign), class: "fa fa-eye", title: "Show Campaign" %>
            <%= link_to "<span class='sr-only'>Delete<span>".html_safe, user_campaign_path(current_user, campaign), method: :delete, data: { confirm: "Are you sure you want to delete this campaign?" }, class: "fa fa-trash-o", title: "Delete Campaign" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>