.print-brand{
  float: left;
  height: 60px;
}

.print-character-box {
  padding: 10px;
  background-color: #d3d3d3;
  border: 1px solid black;

  border-radius: 10px;

  font-size: 12px;

  padding-bottom: 0px;
}

.print-character-box .text-box {
  height: 26px;
  border-bottom: 1px solid gray;

  padding: 2px;
  padding-left: 5px;
  background-color: white;

  text-overflow: clip;
}

.print-character-box label{
  padding-left: 5px;
  font-size: 10px;
}



.print-log-entry-box {
  padding: 5px 20px 10px 20px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 10px;

  margin-bottom: 10px;
}

.print-log-entry-box .text-box {
  height: 18px;

  padding: 2px;
  padding-left: 5px;
  margin-bottom: -3px;

  border-bottom: 1px solid gray;

  text-overflow: clip;
}

.print-log-entry-box label{
  font-size: 9px;
  padding-left: 5px;
  margin-bottom:0px;
}

.print-log-entry-box .print-notes{
  padding-left: 5px;
}


body{
  position: relative;
}
.main-wrapper{
  position: relative;
}
.main{
  position: relative;
}
.container{
  position: relative;
}
