h4 {
  margin-top:    0px;
  margin-bottom: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-12 {
  padding-left:  5px;
  padding-right: 5px;
}

.notes-section p {
  margin-bottom: 0px;
}

.print-brand{
  float: left;
  height: 60px;
}

.print-character-box {
  padding: 10px;
  background-color: #d3d3d3!important;
  border: 1px solid black;

  border-radius: 10px;

  font-size: 12px;

  padding-bottom: 0px;
  margin-bottom: 5px;
}

.print-character-box .text-box {
  min-height: 22px;
  height: auto;
  border-bottom: 1px solid gray;

  padding: 2px;
  padding-left: 5px;
  padding-bottom: 0px;

  background-color: white!important;

  text-overflow: clip;
}

.print-character-box label{
  padding-left: 5px;
  font-size: 10px;
}



.print-log-entry-box {
  padding: 5px 20px 10px 20px;
  border: 1px solid black;
  border-radius: 5px;

  font-size: 10px;

  margin-bottom: 5px;
}

.print-log-entry-box .row {
  height: 30px;
}

.print-log-entry-box .main-row {
  height: 40px;
}

.print-log-entry-box .text-box {
  height: 100%;

  padding: 2px;
  padding-left: 5px;
  margin-bottom: -3px;

  border-bottom: 1px solid gray;

  text-overflow: clip;
}

.print-log-entry-box label{
  font-size: 9px;
  padding-left: 5px;
  margin-bottom:0px;
}

.print-log-entry-box .print-notes{
  padding-left: 5px;
}


body{
  position: relative;
}
.main-wrapper{
  position: relative;
}
.main{
  position: relative;
}
.container{
  position: relative;
}
