<div class="row">
  <div class="col-xs-3">
    <span class="print-brand adventurers-league-print-logo"></span>
  </div>

  <div class="col-xs-6" style="text-align:center">
    <h2>DM Logsheet</h2>
  </div>
</div>

<div class="row print-character-box">
  <div class="col-xs-4">
    <%= display_attribute_for_print "Player Name", @user.name %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "DCI #",  @user.dci_num %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "Sheet #",  @sheet_num %>
  </div>
</div>
