<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adventurers-league-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path do %>
        <span class="navbar-brand adventurers-league-logo"></span>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="adventurers-league-navbar">
      <ul class="nav navbar-nav navbar-left">
        <%= render partial: 'layouts/nav_left' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= render partial: 'layouts/nav_right' %>
      </ul>
    </div>

  </div>
</nav>
